@page "/devexpress-charts"

@using SharedLibrary.Data

<DxChart Data="data">
    <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="DevExpress.Blazor.HorizontalAlignment.Right"
        VerticalAlignment="VerticalEdge.Bottom" Orientation="DevExpress.Blazor.Orientation.Vertical" />

    <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
        <div style="margin: 0.75rem">
            <b><u>@context.Point.SeriesName</u></b>
            <div><b>@context.Point.Argument: </b><span>@context.Point.Value</span></div>
        </div>
    </DxChartTooltip>

    <DxChartLineSeries Name="Downloads" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Downloads)" />
    <DxChartLineSeries Name="Streams" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Streams)" />
    <DxChartLineSeries Name="Issues" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Issues)" />
</DxChart>

<DxChart Data="data">
    <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="DevExpress.Blazor.HorizontalAlignment.Right"
        VerticalAlignment="VerticalEdge.Bottom" Orientation="DevExpress.Blazor.Orientation.Vertical" />

    <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
        <div style="margin: 0.75rem">
            <b><u>@context.Point.SeriesName</u></b>
            <div><b>@context.Point.Argument: </b><span>@context.Point.Value</span></div>
        </div>
    </DxChartTooltip>

    <DxChartAreaSeries Name="Downloads" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Downloads)" />
    <DxChartAreaSeries Name="Streams" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Streams)" />
    <DxChartAreaSeries Name="Issues" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Issues)" />
</DxChart>

<DxChart Data="data" Rotated="true">
    <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="DevExpress.Blazor.HorizontalAlignment.Right"
        VerticalAlignment="VerticalEdge.Bottom" Orientation="DevExpress.Blazor.Orientation.Vertical" />

    <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
        <div style="margin: 0.75rem">
            <b><u>@context.Point.SeriesName</u></b>
            <div><b>@context.Point.Argument: </b><span>@context.Point.Value</span></div>
        </div>
    </DxChartTooltip>

    <DxChartStackedBarSeries Name="Comments" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Comments)" Stack="0" BarWidth="12" />
    <DxChartStackedBarSeries Name="Likes" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Likes)" Stack="1" BarWidth="12" />
    <DxChartStackedBarSeries Name="Dislikes" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Dislikes)" Stack="1" BarWidth="12" />
</DxChart>

<DxChart Data="data">
    <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="DevExpress.Blazor.HorizontalAlignment.Right"
        VerticalAlignment="VerticalEdge.Bottom" Orientation="DevExpress.Blazor.Orientation.Vertical" />

    <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
        <div style="margin: 0.75rem">
            <b><u>@context.Point.SeriesName</u></b>
            <div><b>@context.Point.Argument: </b><span>@context.Point.Value</span></div>
        </div>
    </DxChartTooltip>

    <DxChartStackedBarSeries Name="Sells 1" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Sells1)" Stack="0" />
    <DxChartStackedBarSeries Name="Sells 2" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Sells2)" Stack="0" />
    <DxChartStackedBarSeries Name="Profit" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Profit)" Stack="1" />
</DxChart>

<DxChart Data="data">
    <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="DevExpress.Blazor.HorizontalAlignment.Right"
        VerticalAlignment="VerticalEdge.Bottom" Orientation="DevExpress.Blazor.Orientation.Vertical" />

    <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
        <div style="margin: 0.75rem">
            <b><u>@context.Point.SeriesName</u></b>
            <div><b>@context.Point.Argument: </b><span>@context.Point.Value</span></div>
        </div>
    </DxChartTooltip>

    <DxChartAreaSeries Name="CPU" ArgumentField="@((ChartItem i) => i.Year)" ValueField="@((ChartItem i) => i.Cpu)" />
    <DxChartBarSeries Name="Issues" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Issues)" />
    <DxChartLineSeries Name="Downloads" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Downloads)" />
    <DxChartLineSeries Name="Streams" ArgumentField="@((ChartItem i) => i.Year)"
        ValueField="@((ChartItem i) => i.Streams)" />
</DxChart>

@code {
    ChartData data = new ChartData();
}
